In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import scipy.stats as stats
import os

In [26]:
# Read in the csv
df = pd.read_csv("Resources/Autism.csv")

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# View all columns
pd.set_option('display.max_columns', None)

print(df.shape)
df.head()

(1117, 23)

,Case No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age,Sex,Ethnicity,Jaundice,Family_ASD,Residence,Used_App_Before,Score,Screening Type,Language,User,Class
0,6,0,0,0,0,0,0,0,0,0,0,27,f,white,no,no,Russia,no,0,17 and more,russian,parent,NO
1,10,1,1,1,1,1,1,1,1,1,1,21,f,white,no,no,Germany,no,10,17 and more,english,self,YES
2,12,1,1,0,1,1,0,0,1,0,0,18,m,black,no,no,United States,no,5,17 and more,english,self,NO
3,16,1,0,0,0,1,1,1,1,1,1,49,m,black,no,no,Mexico,no,7,17 and more,french,self,YES
4,20,1,1,1,0,0,0,0,1,0,0,18,m,aboriginal,no,no,Indonesia,no,4,17 and more,english,self,NO

In [39]:
# Look at the autism rate among the ethnicities

# White

# Locate where ethnicity is white and get a count
white_pop = df.loc[df['Ethnicity'] == 'white']
total_whites = white_pop['Case No'].count()
print(f"White ethnicity total count: {total_whites}")

# Now locate within that ethnicity where autism classification is yes and get a count
white_yes = white_pop.loc[white_pop['Class'] == 'YES']
whites_yes_total = white_yes['Case No'].count()
print(f"White sample population with autism: {whites_yes_total}")

# Middle Eastern

# Locate where ethnicity is middle eastern and get a count
me_pop = df.loc[df['Ethnicity'] == 'middle eastern']
total_me = me_pop['Case No'].count()
print(f"Middle Eastern ethnicity total count: {total_me}")

# Now locate within that ethnicity where autism classification is yes and get a count
me_yes = me_pop.loc[me_pop['Class'] == 'YES']
me_yes_total = me_yes['Case No'].count()
print(f"Middle Eastern sample population with autism: {me_yes_total}")

# Asian

# Locate where ethnicity is asian and get a count
asian_pop = df.loc[df['Ethnicity'] == 'asian']
total_asian = asian_pop['Case No'].count()
print(f"Asian ethnicity total count: {total_asian}")

# Now locate within that ethnicity where autism classification is yes and get a count
asian_yes = asian_pop.loc[asian_pop['Class'] == 'YES']
asian_yes_total = asian_yes['Case No'].count()
print(f"Asian sample population with autism: {other_yes_total}")

# Black

# Locate where ethnicity is black and get a count
black_pop = df.loc[df['Ethnicity'] == 'black']
total_black = black_pop['Case No'].count()
print(f"Black ethnicity total count: {total_black}")

# Now locate within that ethnicity where autism classification is yes and get a count
black_yes = black_pop.loc[black_pop['Class'] == 'YES']
black_yes_total = black_yes['Case No'].count()
print(f"Black sample population with autism: {black_yes_total}")

# Others

# Locate where ethnicity is other and get a count
other_pop = df.loc[df['Ethnicity'] == 'others ']
total_other = other_pop['Case No'].count()
print(f"Other ethnicity total count: {total_other}")

# Now locate within that ethnicity where autism classification is yes and get a count
other_yes = other_pop.loc[other_pop['Class'] == 'YES']
other_yes_total = other_yes['Case No'].count()
print(f"Other sample population with autism: {other_yes_total}")

# South Asians

# Locate where ethnicity is south asian and get a count
sa_pop = df.loc[df['Ethnicity'] == 'south asians']
total_sa = sa_pop['Case No'].count()
print(f"South Asian ethnicity total count: {total_sa}")

# Now locate within that ethnicity where autism classification is yes and get a count
sa_yes = sa_pop.loc[sa_pop['Class'] == 'YES']
sa_yes_total = sa_yes['Case No'].count()
print(f"South Asian sample population with autism: {sa_yes_total}")

# Latino

# Locate where ethnicity is latino and get a count
latino_pop = df.loc[df['Ethnicity'] == 'latino']
total_latino = latino_pop['Case No'].count()
print(f"Latino ethnicity total count: {total_latino}")

# Now locate within that ethnicity where autism classification is yes and get a count
latino_yes = latino_pop.loc[latino_pop['Class'] == 'YES']
latino_yes_total = latino_yes['Case No'].count()
print(f"Latino sample population with autism: {latino_yes_total}")

# Hispanic

# Locate where ethnicity is hispanic and get a count
hisp_pop = df.loc[df['Ethnicity'] == 'hispanic']
total_hisp = hisp_pop['Case No'].count()
print(f"Hispanic ethnicity total count: {total_hisp}")

# Now locate within that ethnicity where autism classification is yes and get a count
hisp_yes = hisp_pop.loc[hisp_pop['Class'] == 'YES']
hisp_yes_total = hisp_yes['Case No'].count()
print(f"Hispanic sample population with autism: {hisp_yes_total}")

# Aboriginal

# Locate where ethnicity is aboriginal and get a count
ab_pop = df.loc[df['Ethnicity'] == 'aboriginal']
total_ab = ab_pop['Case No'].count()
print(f"Aboriginal ethnicity total count: {total_ab}")

# Now locate within that ethnicity where autism classification is yes and get a count
ab_yes = ab_pop.loc[ab_pop['Class'] == 'YES']
ab_yes_total = ab_yes['Case No'].count()
print(f"Aboriginal sample population with autism: {ab_yes_total}")

White ethnicity total count: 524
White sample population with autism: 230
Middle Eastern ethnicity total count: 210
Middle Eastern sample population with autism: 24
Latino ethnicity total count: 36
Latino sample population with autism: 19
Other ethnicity total count: 44
Other sample population with autism: 15
Asian ethnicity total count: 162
Asian sample population with autism: 15
Black ethnicity total count: 58
Black sample population with autism: 28
South Asian ethnicity total count: 39
South Asian sample population with autism: 3
Hispanic ethnicity total count: 23
Hispanic sample population with autism: 9
Aboriginal ethnicity total count: 21
Aboriginal sample population with autism: 5

In [69]:
# Percentages

# With variables created above, write equations to find percentages
wp = whites_yes_total / total_whites
mep = me_yes_total / total_me
ap = asian_yes_total / total_asian
bp = black_yes_total / total_black
op = other_yes_total / total_other
sap = sa_yes_total / total_sa
lp = latino_yes_total / total_latino
hp = hisp_yes_total / total_hisp
abp = ab_yes_total / total_ab

# Place into a dataframe
ethnic_yes_breakdown = pd.DataFrame([{"White": wp,
                                      "Middle Eastern": mep,
                                      "Asian": ap,
                                      "Black": bp,
                                      "Other": op,
                                      "South Asian": sap,
                                      "Latino": lp,
                                      "Hispanic": hp,
                                      "Aboriginal": abp}])

# Format the percentages
ethnic_yes_breakdown["White"] = ethnic_yes_breakdown["White"].map("{:,.2%}".format)
ethnic_yes_breakdown["Middle Eastern"] = ethnic_yes_breakdown["Middle Eastern"].map("{:,.2%}".format)
ethnic_yes_breakdown["Asian"] = ethnic_yes_breakdown["Asian"].map("{:,.2%}".format)
ethnic_yes_breakdown["Black"] = ethnic_yes_breakdown["Black"].map("{:,.2%}".format)
ethnic_yes_breakdown["Other"] = ethnic_yes_breakdown["Other"].map("{:,.2%}".format)
ethnic_yes_breakdown["South Asian"] = ethnic_yes_breakdown["South Asian"].map("{:,.2%}".format)
ethnic_yes_breakdown["Latino"] = ethnic_yes_breakdown["Latino"].map("{:,.2%}".format)
ethnic_yes_breakdown["Hispanic"] = ethnic_yes_breakdown["Hispanic"].map("{:,.2%}".format)
ethnic_yes_breakdown["Aboriginal"] = ethnic_yes_breakdown["Aboriginal"].map("{:,.2%}".format)

ethnic_yes_breakdown

,White,Middle Eastern,Asian,Black,Other,South Asian,Latino,Hispanic,Aboriginal
0,43.89%,11.43%,15.43%,48.28%,34.09%,7.69%,52.78%,39.13%,23.81%

In [72]:
# Rename the index
ethnic_yes_breakdown = ethnic_yes_breakdown.rename(index={0:'Percentage with Autism'})
ethnic_yes_breakdown

,White,Middle Eastern,Asian,Black,Other,South Asian,Latino,Hispanic,Aboriginal
Percentage WITH Autism,43.89%,11.43%,15.43%,48.28%,34.09%,7.69%,52.78%,39.13%,23.81%

In [73]:
# Transpose for easier reading
ethnic_yes_breakdown.T

               Percentage WITH Autism
White                          43.89%
Middle Eastern                 11.43%
Asian                          15.43%
Black                          48.28%
Other                          34.09%
South Asian                     7.69%
Latino                         52.78%
Hispanic                       39.13%
Aboriginal                     23.81%

In [28]:
grouping_df = df[['Case No', 'Ethnicity', 'Class']]
grouping_df

      Case No       Ethnicity Class
0           6           white    NO
1          10           white   YES
2          12           black    NO
3          16           black   YES
4          20      aboriginal    NO
...       ...             ...   ...
1113     2486           white    NO
1114     2487           white   YES
1115     2489           white    NO
1116     2492           white   YES
1117     2497  middle eastern    NO

[1117 rows x 3 columns]

In [29]:
# There has to be a way to accomplish the above using a for-loop...

ethnic_groupby = grouping_df.groupby(['Ethnicity', 'Class']).count()
ethnic_groupby

                      Case No
Ethnicity      Class
aboriginal     NO          16
               YES          5
asian          NO         137
               YES         25
black          NO          30
               YES         28
hispanic       NO          14
               YES          9
latino         NO          17
               YES         19
middle eastern NO         186
               YES         24
others         NO          29
               YES         15
south asians   NO          36
               YES          3
white          NO         294
               YES        230